
# Ignore everything
#*

# But not these files...
!/.gitignore

#setup.py
!setup.py
!README.md
!pyproject.toml
!LICENSE
!CMakeLists.txt
!build.sh
!readthedocs.yaml
!.clang-format

# ...even if they are in subdirectories
!*/
!docs/
!src/
!test/
!py_test/
!ASCsoft/
