
# Ignore everything
#*

# But not these files...
#!/.gitignore


#!README.md
#!LICENSE


# ...even if they are in subdirectories
#!*/

# don't ignore docs folder
#!docs/

# don't ignore src folder
#!src/

# don't ignore test folder
#!test/

# don't ignore .clang-format file
#!.clang-format

# don't ignore .gitignore file
#!.gitignore

# don't ignore .readthedocs.yml file
#!.readthedocs.yml


# don't ignore build.sh file
#!build.sh

# don't ignore CMakeLists.txt file
#!CMakeLists.txt

# don't ignore LICENSE file
#!LICENSE


# don't ignore README.md file
#!README.md

